


<!--script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":3,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1}]')
});
</script-->




<% content_for(:title) { "1080p dashboard" } %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-view="Myweather" data-id="weather"></div>
    </li>    




    </li-->
  </ul>

</div>