
<% content_for(:title) { "1080p dashboard" } %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-view="Network" data-id="network"></div>
    </li>    
  </ul>

</div>